body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.all-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topside {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
}

.fa-spotify {
    color: green;
    width: 70px;
    height: 70px;
    font-size: 5em;
    margin-left: 2%;
    margin-right: 2%;
}

.logotexte {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1%;
}

.logotexte > h1 {
    padding: 0;
    margin: 0;
    height: 20%;
}

.logotexte > p {
    padding: 0;
    margin: 0;
    width: 80%;
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    margin-left: 65%;
    margin-top: 1%;
}

.fa-circle-user, .fa-door-closed {
    font-size: 2em;
    margin-top: 1%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.user > h4, .log > h4 {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex: 1 0 auto;
    padding: 10px;
}

.info1, .info2, .info3, .info4 {
    position: relative; /* Changed from absolute to relative */
    width: 45%;
    height: 50%;
    box-sizing: border-box;
    margin: 2.5%; /* Added margin for spacing */
    min-height: 500px;
}

.cadre {
    width: 100%;
    height: 500px;
    border-top: black 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 5%;
}


.cadre > h3 {
    text-align: center;
}

.bottom-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.fa-github {
    color: black;
    width: 70px;
    height: 70px;
    font-size: 3em;
    cursor: pointer;
}

.loading-bar-container {
    width: 60%;
    max-width: 600px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: none;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.loading-bar {
    display: none;
    width: 0;
    height: 100%;
    background-color: #1DB954; /* Spotify green */
    border-radius: 20px;
    border: 1px solid black;
}

.cadre1{
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cadre1>h3{
    width: 100%;
    margin: 0;
    margin-top: 3%;
}



#ProfileUser{
    margin:0;
    font-size: 8em;
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.infoProfile{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 55%;
}

.info2Profile{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
    height: 60%;
}

.lastLike{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastFollowed{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastListening{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.infoProfile>span{
    margin: 0;
    padding: 0;
    height: 25%;
}

.cadre3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cadre3>h3{
    margin: 0;
    margin-top: 3%;
width: 100%;}

.music{
    width: 100%;
    height: 28%;
    padding: 0;


}

.artist{
    width: 100%;
    height: 28%;
    margin-top: 1%;
    padding: 0;

}
.album{
    width: 100%;
    height: 28%;
    margin-top: 1%;
    padding: 0;

}

.cadre3>div>h5{
    margin-top: 0;
    margin-left: 1%;
    margin-bottom: 0%;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20%;
}

.playlister{
    height: 1200px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.music-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.playlist-block{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow: auto;
}

.playlistPointer:hover{
    border-left: 5px solid #1DB954;
    padding-left:0 ;
}

.selected{
    background-color: lightgray;
    border-radius: 15px;
}